<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="Compte" class="org.proxi.spring.model.Compte"></bean>
	<bean id="Conseiller" class="org.proxi.spring.model.Conseiller"></bean>
	<bean id="Customer" class="org.proxi.spring.model.Customer"></bean>
	<bean id="Gerant" class="org.proxi.spring.model.Gerant"></bean>
	<bean id="OperationCompte"
		class="org.proxi.spring.model.OperationCompte">
	</bean>
	<bean id="Personne" class="org.proxi.spring.model.Personne"></bean>
</beans>
